data/*.imzML
data/*.ibd
data/*.npy
results/*.npy
results/spectra_*.npy
results/labels_*.npy
results/reference_mz.npy
results/mz_values.npy
results/pca_embedding.npy
results/tsne_embedding.npy
results/coordinates.csv
!results/figures/
!results/tables/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
oryx-build-commands.txt
